.custom-table{
    width: 800px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
}
th,td{
    border:1px solid #ccc;
    text-align: center;

}
form{
    width: 800px;
    margin: auto;
}
.wait{
    width: 30px;
    height:50px;
    position: fixed;
    top:0;bottom: 0;left: 0;right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    animation: wait 2s linear  infinite alternate;
}
.wait>div:first-child{
    width: 6px;
    height:50px;
    background: #101010;


}
.wait>div:nth-child(2){
    width: 6px;
    height:40px;
    background: #101010;


}
.wait>div:nth-child(3){
    width: 6px;
    height:30px;
    background: #101010;


}
@keyframes wait {
    0%{
        transform: scale(1, .5);
    }
    100%{
        transform: scale(1, 1.3);
    }
}
.Info{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgba(0,0,0,.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: autohide 1s ease forwards;
}
@keyframes autohide{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


